* {
  padding: 0;
  margin: 0;
  box-sizing:border-box;

}
img{
  height: 100%;
  width: 100%;
  /* position: relative; */
}
body{
  /* background-image: url(./components/bg.png) ; */
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom right, orange, rgb(255, 255, 109));
  background-size: 100% 100%;
}
.game{
  display:flex;
  flex-direction:column;
  height:100vh;
  width:100vw;
  justify-content: center;
  align-items: center;
}
.title{
  position:absolute;
  top:0;
  font-size: 3rem;
  z-index:2;
  background-color: bisque;
  padding: 1rem;
  border-radius: 10px;
  margin: 10px;
}
.score{
  display:flex;
  width:30vw;
  justify-content: space-evenly;
  position:absolute;
  top: 70px;
  z-index:4;
  margin: 2rem;
  background-color: rgb(201, 76, 76);
  border-radius: 5px;
  padding: 10px;
}

.p-count, .c-count{
  text-align: center;
  font-size: 1.5rem;
  margin-top: 1rem;
}

.options{
  display: flex;
  width:50vw;
  justify-content: space-evenly;
  margin: 2rem;
}
.rock,.paper,.scissor{
  padding:0.8rem;
  width:100px;
  border-radius: 10px;
  background: green;
  outline:none;
  border-color: green;
  border:none;
  cursor: pointer;
}
.move{
  font-size:2rem;
  font-weight: bold;
}

.reload{
  display: none;
  margin: 2rem;
  padding:1rem;
  background: green;
  outline: none;
  border:none;
  border-radius: 10px;
  cursor: pointer;
}

.result{
  margin-top: 20px;
  font-size: 1.2rem;
  background-color: chocolate;
  padding: 20px;
  margin: 30px;
  border-radius: 20px;
  text-align: center;
  color: white;
}

/*RESPONSIVE DESIGN*/
@media screen and (max-width:612px) {
*{
  color: black;
}
  body{
    background-image: url(./components/bg2.jpg);
    opacity:0.92;
  }
  .game{
    background-color: antiquewhite;
  }
  .title{
    text-align: center;
  background-color: rgb(173, 124, 124);
  }
  .score{
    position:absolute;
    top:200px;
    width:100vw;
  }
  .options{
    width:100vw;
  }
  .move{
    padding-top:150px ;
  }
}
